<!DOCTYPE html>
<html lang="pt-BR" class="h-full">
<head>
    {% include 'partials/_head.html' %}
</head>
<body class="h-full bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display antialiased">

<div class="h-full flex">
    {% include 'partials/_sidebar.html' %}
            {% include 'partials/_dashboard.html' %}
            {% include 'partials/_search.html' %}
            {% include 'partials/_sync.html' %}
            {% include 'partials/_update.html' %}
            {% include 'partials/_pipeline.html' %}
            {% include 'partials/_ativacoes.html' %}
            {% include 'partials/_distribuicao.html' %}
            {% include 'partials/_logs.html' %}
            {% include 'partials/_intelligence.html' %}
            {% include 'partials/_inadimplencia.html' %}
            {% include 'partials/_kommo_sync.html' %}
            {% include 'partials/_match_merge.html' %}
            {% include 'partials/_comercial_rgm.html' %}
            {% include 'partials/_feedback.html' %}
            {% include 'partials/_config.html' %}
            {% include 'partials/_schedule.html' %}
            {% include 'partials/_inscricao.html' %}
            {% include 'partials/_ferramentas.html' %}
            {% include 'partials/_avisos.html' %}
            {% include 'partials/_kommo_dispatcher.html' %}
            {% include 'partials/_meta_campaigns.html' %}
            {% include 'partials/_recadastros.html' %}
            {% include 'partials/_comercial_dashboard.html' %}
        </main>
    </div>
</div>

{% set _v = config.get('CACHE_BUST', '') %}
<script src="{{ url_for('static', filename='js/utils.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/sync.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/update.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/pipeline.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/ativacoes.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/distribuicao.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/intelligence.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/inadimplencia.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/kommo_sync.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/match_merge.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/comercial_rgm.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/feedback.js') }}?v={{_v}}"></script>
<script src="{{ url_for('static', filename='js/inscricao.js') }}"></script>
<script src="{{ url_for('static', filename='js/ferramentas.js') }}"></script>
<script src="{{ url_for('static', filename='js/avisos.js') }}"></script>
<script src="{{ url_for('static', filename='js/kommo_dispatcher.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/meta_campaigns.js') }}"></script>
<script src="{{ url_for('static', filename='js/recadastros.js') }}"></script>

</body>
</html>
